<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="25%" *ngFor="let character of allCharacters">
        <mat-card class="mat-elevation-z4" >
          <mat-card-header>
            <mat-card-title>Personagem: {{character.name}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Nascimento: {{character.birth_year}}
            </p>
            <p>
              Altura: {{character.height}}
            </p>
            <p>
              Planeta: Em breve
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button routerLink="showCharacter">SHOW</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="">
      <button mat-button (click)="previewsPage()"> << Previews </button>
      <button mat-button (click)="nextPage()">Next >> </button>
    </div>
</div>