.footer {
    position: relative;
    bottom: 0;
    background-color: black;
    color: #d4d422;
    display: flex;
    justify-content: flex-end;
    height: 60px;
    font-size: 1.1rem;
    z-index: 1;
}

