.footer {
    position: fixed;
    background-color: black;
    color: #d4d422;
    display: flex;
    justify-content: flex-end;
    height: 70px;
    font-size: 1.1rem;
    bottom: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
