
.content {
    display: flex;
    justify-content: space-around;
    background-color: black;
    flex-direction: column;
    padding: 2vh;
}

.characterData {
    border: 1px solid chartreuse;
    padding: 2.5vh;
    width: 50%;
}

h1 {
    font-size: 35px;
}

.image {
    width: 50%;
    display: flex;
    align-self: center;
    padding: 2.5vh;
}
.img {
    align-self: center;
    border: 1px solid chartreuse;
}

.affiliations {
    border: 1px solid chartreuse;
    padding: 2.5vh;
}
