
.content {
    display: flex;
    background-color: #161616;
    opacity: 0.8;
    flex-direction: row;
    padding: 2vh;
    margin-bottom: 70px;
    justify-content: space-around;
    flex-wrap: wrap;
    box-shadow: 1px 1px 3px yellow;
    flex-wrap: nowrap;
    font-size: 1rem;
}


.character-infos {
    display: flex;
    flex-direction: column;
}

.affiliations {
    display: flex;
    flex-direction: column;
}

.apprentices {
    display: flex;
    flex-direction: column;
}

.form-affiliations {
    display: flex;
    flex-direction: column;
}

.masters {
    display: flex;
    flex-direction: column;
}

.teste {
    display: flex;
    flex-direction: row;
}

.div-button {
    text-align: center;
}

.button {
    font-weight: 700;
    font-size: 1rem;
    padding: .3rem;
    box-shadow: 1px 1px 3px yellow;
}